In [19]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
%matplotlib inline

import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
df= pd.read_csv('Boatbigdata.csv')
df[0:5]

,Age Of Boat,Length of boat,Motor Size,Number of Engines,Bowrider vs. Center Console,Brand of boat,Motor type,Asking price
0,1.0,21,115.0,1,CC,BL,OB,25900
1,5.0,26,260.0,1,CC,BL,IB,49950
2,2.0,18,90.0,1,CC,BL,OB,19995
3,1.0,21,150.0,1,CC,BL,OB,37170
4,4.0,23,260.0,1,B,BL,IB,34995

In [25]:
df['Asking price'].describe()

count      1415.000000
mean      47542.332155
std       32671.301333
min        7999.000000
25%       24900.000000
50%       39500.000000
75%       58900.000000
max      329000.000000
Name: Asking price, dtype: float64

In [22]:
df['Asking price'].mean()

47542.33215547703

In [29]:
df['Asking price'].mean()

47542.33215547703

In [27]:
#df_example['binned'] = pd.cut(df_example['productivity'], bins)

In [36]:
bins=(0,60000,329000)
group_names=['bad','good']
df['Asking price1']= pd.cut(pd['Asking price'],bins=bins, label=group_names)

TypeError: 'module' object is not subscriptable

In [28]:
df['price categorie'] = pd.cut(0,60000,329000)

ValueError: Input array must be 1 dimensional

,Age Of Boat,Length of boat,Motor Size,Number of Engines,Bowrider vs. Center Console,Brand of boat,Motor type,Asking price,price categorie
0,1.0,21,115.0,1,CC,BL,OB,25900,1
1,5.0,26,260.0,1,CC,BL,IB,49950,1
2,2.0,18,90.0,1,CC,BL,OB,19995,1
3,1.0,21,150.0,1,CC,BL,OB,37170,1
4,4.0,23,260.0,1,B,BL,IB,34995,1
...,...,...,...,...,...,...,...,...,...
1410,11.0,25,150.0,2,B,GW,OB,60000,1
1411,2.0,25,300.0,1,CC,GW,OB,109000,1
1412,4.0,24,300.0,1,CC,GW,OB,98000,1
1413,8.0,23,150.0,2,B,GW,OB,76900,1
1414,2.0,23,150.0,2,B,GW,OB,119500,1

In [6]:
# preprosseng
bins=(2,50000, 8)
group_names = ['cheap','expensive']
df['binned'] = pd.cut(df['Asking price'], bins)
df['binned'].unique()

ValueError: bins must increase monotonically.

In [ ]:
import mplcyberpunk
plt.style.use("cyberpunk")
u=df[['Length of boat','Motor Size']].boxplot()
#plt.figure.use("cyberpunk")
plt.figure (figsize=(20,20))

In [ ]:
df.dtypes

In [ ]:
df1=df.dropna()
#df.reset_index(drop=True)
#print(df)

In [ ]:
df.reset_index(drop=True)

In [ ]:
df.shape

In [ ]:
df1.shape

In [ ]:
df

In [ ]:
df.size

In [ ]:
df1.describe

In [ ]:
df1.columns

In [ ]:
w=df1[['Age Of Boat','Length of boat','Motor Size','Asking price']]
w

In [ ]:

w.dtypes

In [ ]:
w['Age Of Boat'].dropna().unique()

In [ ]:
w['Length of boat'].unique()

In [ ]:
df['Motor Size'].unique()

In [ ]:
df['Asking price'].unique()

In [ ]:
w=df.loc[(df['Age Of Boat'] != 'nan')
          &
          (df['Length of boat'] != 'nan')
          &
          (df['Motor Size'] != 'nan')
          &
          (df['Asking price'] != 'nan')].dropna()

In [ ]:
v=df.dropna()

In [ ]:
v.shape

In [ ]:
w.shape

In [ ]:
w.columns

In [ ]:
X=w[['Age Of Boat', 'Length of boat', 'Motor Size', 'Number of Engines',
       'Bowrider vs. Center Console', 'Brand of boat', 'Motor type']]
X

In [ ]:
X['Bowrider vs. Center Console'].unique()

In [ ]:
X['Brand of boat'].unique()

In [ ]:
X['Motor type'].unique()

In [ ]:
y=w['Asking price']
y

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=4)

In [ ]:
print(X_trainset.shape)
print(y_trainset.shape)

In [ ]:
print(X_testset.shape)
print(y_testset.shape)

In [ ]:
drugTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
drugTree

In [ ]:
drugTree.fit(X_trainset,y_trainset)

In [ ]:
df.dtypes

In [ ]:
X.dtypes

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
w.columns

In [ ]:
w.head()

In [ ]:
le_BowridervsCenterConsole = LabelEncoder()
le_Brandofboat = LabelEncoder()
le_Motortype=LabelEncoder()

In [ ]:
X['le_BowridervsCenterConsole']=le_BowridervsCenterConsole.fit_transform(X['Bowrider vs. Center Console'])
X['le_Brandofboat']=le_BowridervsCenterConsole.fit_transform(X['Brand of boat'])
X['le_Motortype']=le_BowridervsCenterConsole.fit_transform(X['Motor type'])
X.head()

In [ ]:
U=X.drop(['Bowrider vs. Center Console', 'Brand of boat', 'Motor type'],axis='columns')

In [ ]:
U.head()

In [ ]:
from sklearn import tree

In [ ]:
model= tree.DecisionTreeClassifier()

In [ ]:
model.fit(U,y)

In [ ]:
model.score(U,y)

In [ ]:
model.predict([[4,21,150,2,1,1,1]])

In [ ]:
U1=U.corr()
U1.style.background_gradient(cmap='coolwarm')

In [ ]:
def con_brand(x):
    if x=='BL':
        return 1
    if x=='GW':
        return 2

In [ ]:
df1.head()

In [ ]:
df1['con_brand']=df['Brand of boat'].apply(con_brand)

In [ ]:
df1

In [ ]:
u_df=df1[['Age Of Boat','Length of boat','Motor Size','Asking price','con_brand']]

In [ ]:
y1=df1